<html>
    <head>
        <title>Sistema de control de ingreso</title>
    </head>
    <body>
        <h1>Mantenimiento de areas</h1>
        <hr>
        
        <p><a href="/m_areas_nuevo">Nueva Area</a></p>

        <table border="1">
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>ESTADO</th>
                <th>ABREVIATURA</th>
                <th colspan="2">ACCIONES</th>
            </tr>
            <% records.forEach(function(area) { %>
            <tr>
                <td><%= area._id %></td>
                <td><%= area.Nombre %></td>
                <td><%= area.Estado %></td>
                <td><%= area.Abreviatura %></td>
                <td><a href="/m_areas_editar/<%= area._id%>">Editar</a></td>
                <td><a href="/m_areas_eliminar/<%= area._id%>">Eliminar</a></td>
            </tr>
            <% }); %>
        </table>
    </body>